<div class="container">
    <h1>Company Details</h1>
    <br>
    <div class="details">
        <h2 id="companyName">{{business.companyName}}</h2>
        </div>
        <br>
    <div>
        <h3>Who we are</h3>
         <p class="text">{{business.description}}  </p> 
    </div>
        <br>
        <div>
            <h3>Contact Details</h3>
            <br>
            <span> Contact Person:  {{business.contact.name}}</span>  
            <br>
            <span>Phone number: {{business.contact.phone}}</span>
            <br>    
            <span>Address: {{business.contact.address}}</span>
            <br>
            <span>{{business.contact.email}}</span>
            <br>
            <span>{{business.contact.website}}</span>
            
            <br>
        </div>
    
        <h3>Products</h3>
        {{#each business.products}}
    
            <span>{{business.products.name}}</span>
    
            <img src="{{business.products.imageUrl}}" alt="imageUrl">
            
    
    {{/each}}
    <br>
    <h3>Voucher</h3>
    {{#each business.voucher}}
    <div>business.voucher.type</div>
    {{/each}}
</div>


{{!-- 
    companyName: String,
    description: String,
    contact: {
        name: String,
        phone: String,
        address: String,
        email: String,
        website: String,
    },
    username: String,
    password: String,
    //   socialmedia: String,
    avatar: String,
    role: {
        type: String,
        enum: ['admin', 'user'],
        default: 'admin'
      },
    voucher: [
        { type: Schema.Types.ObjectId, ref: 'Voucher' }],
    products: [
        {name: String, imageUrl: String,}
    ], --}}