<h1>Welcome {{business.contact.name}}</h1>

<h2>Here is your business information below</h2>
<p>Business Description: {{business.description}}</p>
<br>
<h3>Contact Details</h3>
<ul>
    <li>Main contact person: {{business.contact.name}}</li>
    <li>Phone number: {{business.contact.phone}}</li>
    <li>Address: {{business.contact.address}}</li>
    <li>Email address:{{business.contact.email}}</li>
    <li>Website: {{business.contact.website}}</li>
    <li>avatar:{{business.avatar}}</li>
    <li>Product: {{business.products}}</li>
    <li>voucher:{{business.voucher}}</li>
</ul>
<br>
<a href="/voucher">Add a voucher</a>

